.navbar{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #34495e;
    margin-bottom: 20px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-header-title{
    color: white;
    font-size: 1.5rem;
    margin-left: 30px;
}
.navbar-items{
    display: flex;
    justify-items: stretch;
    align-items: center;
}

.navbar-item{
    color: white;
    margin-left: 20px;
    font-size: 1rem;
}

.run-button{
    text-transform: uppercase;
    background: #dfdfdf;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.run-button:hover{
    background: white;
    padding: 8px;
}

.symbol-index {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.symbol-index-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
